.theme-light {
    background-color: #e5e5e5;
    color: black;
  /*   padding: 20px;
    height: 1024px; */

  }
  /* .card-color{
    background-color: #e5e5e5 ;
    border-color: black;
} */
  
 /*  .theme-dark {
    background-color: black;
    color: white;
  }
   */