@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

/* style={{width:'100%', maxWidth: '1440px', margin:'0 auto'}} */

/* .container-fluid,
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
} */
/* 
.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
} */
/* Partners caption */

.rarebook-header {
    text-align: center;
    margin-top: 60px !important;
}

.rarebook-header h1 {
    margin: 0;
    font-size: 32px;
    /* line-height: 60px; */

    font-family: Bebas Neue;
    letter-spacing: 0.2em;
    font-weight: 400;

}

/* .profile-card-1 {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-image: url(../image/Rectangle\ 238.png);
    background-position: center;
    padding-top: 100px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    max-width: 300px;
} */

.profile-card-2 {
    /* max-width: 300px; */
    /* width: 240px;
    height: 400px; */
    width: 310px;
    height: 498px;
    background-color: #363636;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border-radius: 20px;
}

.profile-card-2 img {
    /* transition: all linear 0.25s; */
    
}

.profile-card-2 .profile-name {
    position: absolute;
    /* left: 65px;
    top: 200px; */
    font-size: 24px;
    font-family: Bebas Neue;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 1.2px;
    text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
    /* transition: all linear 0.25s; */
}

.profile-card-2 .profile-icons {
    position: absolute;
    border-radius: 1px;
    border-style: solid;
    /* border-width: medium; */
    bottom: 65px;
    right: 85px;
    color: #FFF;
    width: 133px;
    height: 41px;
    /* transition: all linear 0.25s; */
}

.next-button {
    width: 100px;
    height: 100px;

    border-radius: 50% !important;
    background-color: #ffffff !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 20px !important;
    border: none !important;
    margin-top: 250px;
    margin-left: 110px;

}
/* .next-button img{
    background: linear-gradient(to bottom right, #344c6d 25%, #344c6d 100%);

}
 */
.profile-card-2 .profile-username {
    position: absolute;
    left: 100px;
    top: 240px;
    color: #FFF;
    font-size: 13px;
    /* transition: all linear 0.25s; */
}

.profile-card-2 .profile-icons .fa {
    /* margin: 5px; */
}

.profile-card-2:hover img {
    /* filter: grayscale(100%); */
}

.profile-card-2:hover .profile-name {
    /* bottom: 80px; */
}

.profile-card-2:hover .profile-username {
    /* bottom: 60px; */
}

.profile-icons:hover {
    /* right: 40px; */
    color: rgb(255, 255, 255) !important;
    background: #344c6d !important;
    border-color: #344c6d !important;
    cursor: pointer;

}